.newSletter {
    background-color: #eff2f4;
}
.footerImg {
    width: 15%;
}
.brandText {
    font-size: 1.8rem;
}
.sIcons {
    background-color: #bdc4cd;
    border-radius: 15px;
    .social {
        color: white;
    }
}
.appfooterImg{
    width: 100%;
}
.commerce{
    background-color: #EFF2F4;
}