#dropdown-basic-button{
    background-color: white;
    color: black !important;
}
.navBarCollabse{
    width: 60% !important;
}
.navBar{
    background-color:white !important;
}
h1{
    color: #127FFF;
}
.logoImg{
    width: 30%;
}

svg{
    width: 50%;
    color: #8B96A5;
}
.person{
    p{
        font-size: .8rem;
    }
}

    .message{
        object-fit: contain !important;
        width: 30%;
        height: 30% !important;
    }
