#dropdown-menu-align-end{
    background-color: initial;
    border: none;
    color: black;
}
.secNav{
    background-color: white;
}
.mnu{
    width: 50%!important;
    height: 70%;
    cursor: pointer;
}