@mixin flexLibrary(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categoryContent{
    input{
        border-radius:20px;
        border: 1px solid;
        border-left: none;
}
.selectedCategory{
    border-radius:20px;
        border: 1px solid;
        border-right: none;
}
}
body{
    height: 0 !important;
}